name: Publish
on: [workflow_dispatch]

permissions:
  contents: read

env:
  VERSION: 2.0.0
  MODRINTH_TOKEN: ${{ secrets.PUBLISH_MODRINTH_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
  
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'
  
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
  
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
  
      - name: Build with Gradle
        run: ./gradlew build publishMods